/* Els porcentatges d'amplades son calculats segons el body amb un viewport-width de 1440px.
   L'amplada màxima del Parent de 1240px, al descomptar el padding: 0 6.94%; del body; 
*/
body {
      margin: 0;
      background-color: $colorFondo;
      justify-content: center;
      padding: 0 6.94%; /* Padding lateral 100px */
      font-family: 'Montserrat', sans-serif;
   
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   
   code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
         monospace;
   }
   
   #root {
      width: 100%; /* 1240px */
      /* outline: 1px dotted orange; */
   }