/* sheet 🈴 src/sass/layouts/_sheet.scss */

.K-Sheet {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 6.95%; // 100px

   &__keywords,
   &__info {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &__leftBox {
         display: flex;
         flex-direction: column;
         width: 75%;
         align-items: flex-start;
         justify-content: center;

         &__title h2 {
            color: $colorPrimari;
            font-size: 2.52; // 36px
            font-style: normal;
            font-weight: 500;
            text-align: left;
            line-height: 142.6px;
            width: auto;
            height: 80px;
            margin: 0;
         }

         &__region {
            color: $colorPrimari;
            font-size: 1.26vw; // 18px
            font-weight: 500;
            text-align: left;
            line-height: 25.67px;
            margin: 0;
         }

         &__labels {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            & ul {
               display: flex;
               gap: 10px;
               margin-left: -38px;
               list-style: none;
               font-size: 0.98vw; // 14px
               font-weight: 500;
               line-height: 19.96px;
               text-align: center;
               color: $colorSecundari;
               & li {
                  width: 115px;
                  height: 25;
                  border-radius: 10px;
                  background-color: $colorPrimari;
               }
            }
         }
      }

      &__rightBox {
         display: flex;
         flex-direction: column;
         width: 25%;
         align-items: flex-end;
         justify-content: center;

         &__owner {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap: 20px;
            text-align: right;
         }

         & p {
            color: $colorPrimari;
            width: 110px;
            height: 52px;
            font-size: 1.26vw; // 18px
            font-weight: 500;
            line-height: 25.67px;
         }

         &__thumbnail {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $colorAmfitrio;
         }

         &__starScore {
            display: flex;
            gap: 10px;
         }
      }
   }

   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__article {
         display: flex;
         width: 46.9%;
         height: 295px;
         flex-direction: column;
         margin-bottom: 120px;

         &__tab {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $colorPrimari;
            border-radius: 10px;
            padding: 0 20px 0 18.65px;

            & h4 {
               color: $colorSecundari;
               font-size: 1.26vw; // 18px
               font-style: normal;
               font-weight: 500;
               line-height: 142.6%;
            }
            color: $colorSecundari;
            font-size: 1.26vw; // 18px
         }

         &__description {
            background-color: $colorFitxes;
            border-radius: 10px;
            width: 94%;
            height: 249px;
            padding: 40px 12px 53px 20px;
            margin-top: -20px;
            z-index: -1;

            & p {
               font-size: 1.25vw; // 18px;
               font-style: normal;
               font-weight: 400;
               text-align: left;
               line-height: 142.6%; //26px
               color: $colorPrimari;
            }
         }
      }
   }
}
