/* Porcentatges d'amplada calculats per a un viewport-width de 1440px,
   i amb una amplada màxima del Parent de 1240px, al descomptar el padding: 0 6.94% del body; 
*/
.k-header {
   width: 100%;
   color: #ff6060;
   text-align: left;
   padding: 35px 0;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
}

.k-logo {
   position: relative;
   left: -10px;
   width: 37%; /* Son 222px exterior -12px de pas per tot = 210px */
}

.k-header__menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 24.92%; /* Son 309px */
   height: 34px;
}

.k-header__menu a {
   text-decoration: none;
   color: #ff6060;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size 0.3s;
}

.k-header__menu a:hover,
a:focus {
   background-size: 100% 2px;
}

.k-header__menu_ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 65px;
   list-style: none;
   font-size: 1.67vw; /* Son 24px */
   font-weight: 500;
}
