/* apartItem ·🈴· src/sass/layouts/_apartItem.scss */

.k-apart-item-cover {
      width: 27.42%;   // 340px de 1240px;
      height: auto;
      border-radius: 10px;
}

.k-apart-item {
      margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
      flex-direction: row;
}