/* Els porcentatges d'amplades son calculats segons el body amb un viewport-width de 1440px.
   L'amplada màxima del Parent de 1240px, al descomptar el padding: 0 6.94%; del body; 
*/

// Banner Accueil.
.k-banner {
   display: flex;
   width: 100%;
   height: 223px;
   position: absolute;
   border-radius: 25px;
   // background: $colorTerciari;
   opacity: 30%;
   mix-blend-mode: darken;

   outline: 1px solid green;

   &__img {
      align-self: center;
      object-fit: cover;

      outline: 1px solid green;
   }

   &__title {
      color: #ffffff;
      font-size: 3.35vw; /* 48px */
      font-weight: 500;

      outline: 1px solid green;
   }
}
