/* header 🤯 src/sass/layouts/_header.scss */

.K-header {
   margin: 0 6.94%;
   width: 86.11%;
   color: $colorPrimari;
   text-align: left;
   padding: 35px 0;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;

   & > a {
      display: flex;
      margin: 0;
      padding: 0;
      width: 222px;
      height: auto;
   }

   &__logo {
      position: relative;
      left: -8px;
      width: 100%; /* Son 222px exterior -12px de pas per tot = 210px */
   }

   &__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 35%;
      height: 34px;

      &__ul {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         width: 200%;
         flex-wrap: nowrap;
         grid-gap: 18%;
         list-style: none;
         font-size: 1.67vw; /* Son 24px */
         font-weight: 500;

         &__li {
            width: 140px;
            height: 34px;
            padding: 0;
            flex-wrap: nowrap;
            text-align: right;
         }
      }
   }
}

.K-header__menu a {
   text-decoration: none;
   color: $colorPrimari;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size 0.3s;
}

.K-header__menu a:hover,
a:focus {
   background-size: 100% 2px;
}

@media screen and (max-width: 1280px) {
   .K-header__logo {
      width: 95%;
   }
   .K-header__menu__ul {
      font-size: 22px;
   }
}

@media screen and (max-width: 1180px) {
   .K-header__logo {
      width: 90%;
   }
   .K-header__menu__ul {
      font-size: 21px;
   }
}

@media screen and (max-width: 1024px) {
   .K-header__logo {
      width: 88%;
   }
   .K-header__menu__ul {
      grid-gap: 15%;
   }
}

@media screen and (max-width: 992px) {
   .K-header__logo {
      width: 85%;
   }
   .K-header__menu__ul {
      font-size: 20px;
      width: 120%;
      grid-gap: 8%;
      margin-top: 38px;
   }
}

@media screen and (max-width: 800px) {
   .K-header__logo {
      width: 80%;
   }
   .K-header__menu__ul {
      font-size: 16px;
      grid-gap: 5%;
      margin-top: 35px;
      text-transform: uppercase;
   }
}

@media screen and (max-width: 768px) {
   .K-header {
      padding: 25px 0;
   }
   .K-header__logo {
      width: 65%;
   }
   .K-header__menu__ul {
      font-size: 15px;
   }
}

@media screen and (max-width: 600px) {
   .K-header__logo {
      width: 60%;
   }
   .K-header__menu__ul {
      font-size: 14px;
   }
}

@media screen and (max-width: 480px) {
   .K-header {
      padding: 18px 0;
      &__menu {
         width: 160px;
         margin-right: 0px;
      }
   }
   .K-header__logo {
      width: 145px;
      height: 55px;
      margin-left: 5px;
   }
   .K-header__menu__ul {
      font-size: 12px;
      grid-gap: 1%;
   }
}
