/* keywords 📟 src/sass/layouts/_keywords.scss */

.K-Sheet__keywords {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 600px) {
   .K-Sheet__keywords {
      flex-direction: column;
   }
}
