// variables · src/sass/utils/_variables.scss

$colorPrimari: #FF6060;
$colorSecundari: #FFFFFF;
$colorTerciari: #000000;
$colorFondo: #E5E5E5;
$colorFitxes: #F6F6F6;
$colorEstrella: #E3E3E3;
$colorAmfitrio: #C4C4C4;

